::-webkit-selection, ::-moz-selection, ::selection {

    background: $color-red;
    color: #fff;
    
}

body {

    -webkit-appearance: none;
    -webkit-text-size-adjust: none;
    font-family: $font-stack;
    color: $color-grey-medium;
    
}

h1,h2,h3,h4,h5,h6 {
    
    @include margin(0 null rem(20) null);
    
    color: $color-grey-dark;
    font-weight: normal;
    
}

h1 { 
    
    @include font-size(22);
    
}

h2 { 
    
    @include font-size(20);
    
}

h3 { 
    
    @include font-size(20);
    
}

h4 { 
    
    @include font-size(18);
    
}

h5 { 
    
    @include font-size(16);
    
}

h6 { 
    
    @include font-size(14);
    
}

p {
    
    @include font-size(16);
    @include margin(0 null rem(20) null);
    
    font-weight: 300;
    
}

ul, ol {
    
    @include margin(null null rem(20) null);
    @include padding(0);
    
}

button, .btn {
    
    @include transition(all 0.3s ease);
    @include button();

}

abbr {
    
    border-bottom: 1px dotted $color-red;
    cursor: help;
    
}

em, strong, b {
    
    font-weight: 700;
    font-style: normal;
    color: $color-grey-dark;
    
}

a {
    
    @include transition(all 0.3s ease);
    
    color: $color-red;
    text-decoration: none;
    
    &:hover, &:focus {
        
        color: $color-red-dark;
        
    }
    
}

mark {
    
    background: transparent;
    color: inherit;
    
}

small {
    
    @include font-size(11);
    
}

.overlay {
    
    background: $color-red;
    background: rgba(195,47,52,0.8);
    
}
