.icon {

	@extend %display-inline-block;
	@include hide-text;
	@include sprite(0,0);

	vertical-align: middle;
	
	&.icon-menu {

		background-position: -800px -400px;
		width: 30px;
		height: 30px;
 
	}

	&.icon-mark {

		background-position: 0 0;
		width: 50px;
		height: 30px;

	}
	
	&.icon-html5 {

		background-position: 0 -200px;
		width: 70px;
		height: 80px;

	}
	
	&.icon-wordpress {

		background-position: -200px -200px;
		width: 80px;
		height: 80px;

	}
	
	&.icon-mobile {

		background-position: -400px -200px;
		width: 46px;
		height: 80px;
 
	}
	
	&.icon-timeline-mobile {

		background-position: 0 -400px;
		width: 30px;
		height: 30px;
 
	}
	
	&.icon-timeline-parallel {

		background-position: -100px -400px;
		width: 30px;
		height: 30px;
 
	}
	
	&.icon-timeline-standards {

		background-position: -200px -400px;
		width: 30px;
		height: 30px;
 
	}
	
	&.icon-timeline-design {

		background-position: -300px -400px;
		width: 30px;
		height: 30px;
 
	}
	
	&.icon-timeline-pencil {

		background-position: -400px -400px;
		width: 30px;
		height: 30px;
 
	}
	
	&.icon-timeline-magnifier {

		background-position: -500px -400px;
		width: 30px;
		height: 30px;
 
	}
	
	&.icon-timeline-brackets {

		background-position: -600px -400px;
		width: 30px;
		height: 30px;
 
	}
	
	&.icon-timeline-hat {

		background-position: -700px -400px;
		width: 30px;
		height: 30px;
 
	}
	
	&.icon-social-twitter {

		background-position: 0 -600px;
		width: 30px;
		height: 30px;
 
	}
	
	&.icon-social-linkedin {

		background-position: -100px -600px;
		width: 30px;
		height: 30px;
 
	}
	
	&.icon-social-github {

		background-position: -200px -600px;
		width: 30px;
		height: 30px;
 
	}
	
}