.section {

    @extend %clearfix;
    @include padding(0 rem(15));
    
    position: relative;
    background: #ffffff;
    overflow: hidden;
    
    &:nth-child(1) {
        
        z-index: 10;
        
    }
    
    &:nth-child(2) {
        
        z-index: 9;
        
    }
    
    &:nth-child(3) {
        
        z-index: 8;
        
    }
    
    &:nth-child(4) {
        
        z-index: 7;
        
    }
    
    &:nth-child(5) {
        
        z-index: 6;
        
    }
    
    &:nth-child(6) {
        
        z-index: 5;
        
    }
    
    &:nth-child(7) {
        
        z-index: 4;
        
    }
    
    &:nth-child(8) {
        
        z-index: 3;
        
    }
    
    &:nth-child(9) {
        
        z-index: 2;
        
    }
    
    &:nth-child(10) {
        
        z-index: 1;
        
    }

    &:after { 

        position: absolute;
        z-index: 20;
        top: 100%;
        left: 50%;
        content: " "; 
        height: 0;
        width: 0;
        pointer-events: none;
        border: solid transparent;
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #ffffff;
        border-width: 20px;
        margin-left: -20px;
        
    }
    
    &--grey {
        
        background: $color-grey;
        
        &:after {
    
            border-top-color: $color-grey;
        
        }
        
    }
    
    &--white {
        
        background: #fff;
        
        &:after {
    
            border-top-color: #fff;
        
        }
        
    }
    
    &--dark {
        
        background: $color-grey-dark;
        
        &:after {
    
            display: none;
        
        }
        
    }

    &__resume {

        .download {

            @extend %text-center;
            @include span-columns(12);
            @include margin(null null rem(50) null);

            @include bp($small) {

                @include margin(null null rem(80) null);

            }

        }

    }
    
    &.quote {
        
        @include padding(0);
        //@include cover-image("michaelpumo.jpg", $color-red);
        
        &:after {
    
            display: none;
        
        }
        
        .overlay {
        
            @include size(100% 100%);
            
            position: relative;
            z-index: 10;
            
            blockquote {

                @include span-columns(10);
                @include shift(1);
                @include padding(rem(40) null);
                
                color: #fff;
                
                @include bp($small) {
                    
                    @include span-columns(8);
                    @include shift(2);
                    @include padding(rem(80) null);
                
                }
                
                p {
                
                    @include font-size(22);
                    @include margin(null null rem(40) null);
                    
                    @include bp($small) {
                    
                        @include font-size(30);
                    
                    }
                    
                    @include bp($medium) {
                    
                        @include font-size(35);
                    
                    }
                    
                }
                
                footer {
                    
                    p {
                    
                        @include font-size(16);
                        @include margin(0);
                        
                        em {
                            
                            color: inherit;
                            
                        }
                        
                        a {
                            
                            color: inherit;
                            
                        }
                        
                    }
                    
                }
                
            }
    
        }
    
    }
    
    &.feature {
        
        @include size(100% 100%);
        @include padding(0);
        
        display: table;
        position: relative;
        z-index: 100;
        
        &:after {
    
            display: none;
        
        }
        
        .underlay {
            
            @extend %clearfix;
            
            position: relative;
            z-index: 5;
            width: 100%;
            overflow: hidden;
            
        }
        
        .overlay {
        
            @include size(100% 100%);
            
            display: table-cell;
            vertical-align: middle;
            position: relative;
            z-index: 10;
    
            header {
            
                @include padding(0px rem(30));
                
                margin-top: -80px;
                
                .mark {
                    
                    @extend %text-center;
                    @include padding(null null rem(25) null);
                    
                }
                
                h1 {
                    
                    @include font-size(22);
                    @include margin(0);
                    
                    color: #fff;
                    font-weight: 300;
                    
                }
                
            }
            
            .go {
                
                @include padding(0 0 rem(80) 0);
                @extend %text-center;
                
                width: 100%;
                position: absolute;
                z-index: 10;
                bottom: 0;
                left: 0;
                
            }
    
        }
    
    }
    
    &#section-work {
    
        @include padding(null null rem(25) null);
        
        @include bp($small) {
            
            @include padding(null null rem(55) null);
        
        }
        
    }
    
    article {
    
        @include outer-container;
        
        header {
            
            @extend %text-center;
            @include span-columns(12);
            @include padding(rem(40) null);
            
            @include bp($small) {
            
                @include span-columns(8);
                @include shift(2);
                @include padding(rem(75) null);
            
            }
            
            @include bp($medium) {
            
                @include span-columns(6);
                @include shift(3);
            
            }
            
            h2 {
                
                @extend %text-uppercase;
                
                @include bp($small) {
                
                    @include font-size(35);
                    
                    font-weight: 300;
                
                }
                
            }
            
            p {
                
                @include font-size(16);
                @include margin(0);
                
                @include bp($small) {
    
                    @include font-size(18);
                
                }
                
                @include bp($medium) {
                
                    @include font-size(20);
                
                }
                
            }
            
        }

    }
    
}