.statistics {

	@include span-columns(12);
	@include padding(null null rem(30) null);
	
	@include bp($small) {
	
		@include span-columns(9);
		@include shift(1.5);
		@include padding(null null rem(55) null);
		
	}
	
	.chart {
		
		@include span-columns(12);
		@extend %text-center;
		
		@include bp($small) {
		
			@include span-columns(4);
		
		}
		
		div + p {
			
			@include margin(null null rem(10) null);
			
		}
		
	}
	
	.stat {
		
		display: inline-block;
		position: relative;
		z-index: 1;
		
		.circle-text {
			
			@include font-size(20);
			@extend %text-center;
			font-weight: 300;
			position: absolute;
			z-index: 2;
			width: 100%;
			
		}
		
	}

}


