.timeline { 

    @include clearfix();
    @include span-columns(12);
    @include padding(0);
    @include margin(0 0 rem(80) 0);
    
    position: relative; 
    z-index: 10;
    list-style: none;
    
    &:before, &:after { 
    
        @extend %text-left;
        @include font-size(22);
        
        position: relative; 
        z-index: 10; 
        top: 0; 
        left: 0; 
        display: block; 
        width: auto; 
        color: #000;
        margin: 0 auto;
        background: #f3f3f3;
        
        @include bp($medium) {
            
            text-align: center;
            
        }
    
    }
    
    &:before { 
    
        @include padding(0 0 rem(30) 0);
        
        content: "2015"; 
 
    }
    
    &:after { 

        @include padding(rem(30) 0 0 0);
        
        content: "2003";
    
    }
    
    .timeline-line {

        @include bp($small) {
        
            @include margin(0 0 0 rem(-2));
            @include padding(0);
            
            position: absolute;
            z-index: 5;
            top: 0;
            left: rem(25);
            width: 4px;
            height: 100%;
            background: #fff;
        
        }
        
        @include bp($medium) {
        
            left: 50%;
        
        }
    
    }
        
    &:before, &:after, .timeline-line { 
    
        display: none;
        
        @include bp($small) {

            display: block; 

        }
        
    }
    
    .timeline-event {
    
        @include margin(0 0 rem(15) 0);
        
        clear: both;
        width: 100%;
        padding: 0;
        background: transparent;
        
        @include bp($small) {
    
            position: relative;
            z-index: 10;

        }
        
        @include bp($medium) {

            width: 50%;
            
        }
        
        .timeline-label {
        
            @include padding(rem(20) rem(25) rem(5) rem(25));
            
            position: relative;
            background: #fff;
            
            &:after { 
            
                @include size(0);
                
                content: " ";
                position: absolute;
                pointer-events: none;
                border: solid transparent;
                border-width: 10px;
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #fff;
                left: rem(15);
                top: rem(-20);
                
                @include bp($small) {
                
                    @include margin(rem(-10) 0 0 0);
                    
                    border-color: rgba(255, 255, 255, 0);
                    border-right-color: #fff;
                    left: rem(-20);
                    top: 50%;
                    
                }
                
            }
            
            @include bp($small) {
            
                @include margin(0 0 0 rem(65));
                
            }
            
            @include bp($medium) {
                
                @include margin(0 rem(50) 0 0);

            }
            
            h3 {
                
                @include margin(0);
                
            }
        
        }
        
        &:nth-child(odd) {
            
            @include bp($medium) {
            
                @include margin(0 0 0 50%);
                
            }
            
            .timeline-label {
            
                @include bp($medium) {
                
                    @include margin(0 0 0 rem(50));
        
                }
                
            }
            
            .timeline-icon {
            
                @include bp($medium) {
                
                    left: rem(-30);
                
                }
                
            }
        
        }

        &:nth-child(even) {

            .timeline-label {
            
                @include bp($medium) {
                
                    &:after {
                    
                        border-color: rgba(255, 255, 255, 0);
                        border-left-color: #fff;
                        left: 100%;
                    
                    }
        
                }
                
            }
        
        }

        .timeline-icon {
        
            @include margin(0 0 rem(20) 0);
            @include padding(rem(5) 0);
            @include size(50px 50px);
            
            text-align: center; 
            border: 4px solid #fff;
            border-radius: 50%;
            background: $color-red;
            
            @include bp($small) {
            
                @include margin(rem(-25) 0 0 0);
                
                position: absolute; 
                z-index: 20;
                left: 0;
                top: 50%;
                
            }
            
            @include bp($medium) {
            
                @include margin(rem(-30) 0 0 0);
                @include padding(rem(11) 0);
                @include size(60px 60px);
                
                right: -30px;
                left: auto;
            
            }
        
        }   
    
    }

}