$font-stack: "Avenir", "Lato", sans-serif;

$color-grey: #F3F3F3;
$color-grey-medium: darken($color-grey, 50%);
$color-grey-dark: darken($color-grey, 80%);
$color-red: #C32F34;
$color-red-dark: darken($color-red, 20%);
$color-borders: #222222;
$color-nav: darken($color-grey, 80%);

$path-images: "../../images/";