{
  "plugins": [
    "stylelint-order",
    "stylelint-scss"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-scss"
  ],
  "rules": {
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "order/properties-order": [
      [
        "content",
        "position",
        "top",
        "right",
        "bottom",
        "left",
        "z-index",
        "display",
        "vertical-align",
        "grid",
        "grid-template-rows",
        "grid-template-columns",
        "grid-template-areas",
        "grid-auto-rows",
        "grid-auto-columns",
        "grid-auto-flow",
        "grid-column-gap",
        "grid-row-gap",
        "column-gap",
        "row-gap",
        "flex-flow",
        "flex-direction",
        "flex-wrap",
        "align-content",
        "align-items",
        "justify-content",
        "align-self",
        "flex",
        "flex-grow",
        "flex-shrink",
        "flex-basis",
        "order",
        "width",
        "min-width",
        "max-width",
        "height",
        "min-height",
        "max-height",
        "overflow",
        "overflow-x",
        "overflow-y",
        "overflow-scrolling",
        "box-sizing",
        "font",
        "font-family",
        "font-size",
        "line-height",
        "font-weight",
        "font-style",
        "letter-spacing",
        "text-indent",
        "text-transform",
        "text-align",
        "padding",
        "padding-top",
        "padding-right",
        "padding-bottom",
        "padding-left",
        "margin",
        "margin-top",
        "margin-right",
        "margin-bottom",
        "margin-left",
        "border",
        "border-top",
        "border-right",
        "border-bottom",
        "border-left",
        "opacity",
        "visibility"
      ],
      { unspecified: "bottomAlphabetical" }
    ]
  }
}
