.c-button {

  @extend %text-style;
  @include padding(10px 20px);

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.02);
  color: white;
  cursor: pointer;
  border-radius: $border-radius;
  border: 2px solid rgba(white, 0.5);
  transition: border-color $trans-speed $easeInOutQuart;
  animation: none;

  @include grid-media($grid-small) {

    @include padding(15px 40px);

  }

  .is-theme-navy & {

    border-color: rgba(map-get($brand, 'slate'), 0.5);

  }

  .is-theme-grey-light & {

    border-color: rgba(map-get($brand, 'grey'), 0.5);
    color: map-get($brand, 'slate');

  }

  &:hover,
  &:active,
  &:focus {

    animation: none;
    outline: none;
    border-color: rgba(white, 1);

    .is-theme-navy & {

      border-color: rgba(map-get($brand, 'slate'), 1);

    }

    .is-theme-grey-light & {

      border-color: rgba(map-get($brand, 'slate'), 1);

    }

  }

  &:visited {

    color: inherit;

  }

}
