.c-burger {

  $root: &;

  @include position(relative, null);
  @include size(30px, 20px);

  &:hover {

    #{$root}__bar {

      animation-name: rainbowBurger;
      animation-duration: ($trans-speed * 2);
      animation-iteration-count: infinite;
    
    }

  }

  &__bar {

    @include position(absolute, null null null 0);
    @include size(100%, 4px);

    background-color: map-get($brand, 'navy');
    backface-visibility: hidden;
    perspective: 1000;
    transition:
      all $trans-speed $trans-ease;

    &:nth-child(1) {

      transform: translate3d(0,0px,0);

      .has-navigation & {

        transform: translate3d(0,8px,0) rotate(-45deg);

      }
      
    }

    &:nth-child(2) {

      transform: translate3d(0,8px,0);

      .has-navigation & {

        opacity: 0;

      }
      
    }

    &:nth-child(3) {

      transform: translate3d(0,16px,0);

      .has-navigation & {

        transform: translate3d(0,8px,0) rotate(45deg);

      }

    }

  }

}