.c-footer {

  @include padding(null null p2r(15) null);

  text-align: center;
  background-color: white;
  width: 100%;
  display: block;
  float: left;

  @include grid-media($grid-medium) {

    @include padding(null null p2r(25) null);

  }

  .c-mark {

    @include size(60px auto);
    @include margin(40px auto 35px auto);

    display: inline-block;
    fill: map-get($brand, 'red');

  }

  &__strapline {

    font-size: p2r(14);

  }

  &__emoji {

    @include font-size(20);
    @include position(relative, p2r(3) null null null);
    @include margin(null p2r(5));

    background-color: transparent;

  }

}