.c-loader {

  $loaderColor: map-get($brand, 'blue');

  @include position(absolute, 50% null null 50%);
  @include size(p2r(65));

  background-color: transparent;
  border-radius: 50%;
  border: p2r(10) solid tint($loaderColor, 70%);
  z-index: 100;
  transform: translate(-50%, -50%);
  transition: opacity $trans-speed $trans-ease;
  opacity: 0;
  pointer-events: none;

  .is-loading & {

    opacity: 1;

  }

  &:before {

    @include position(absolute, p2r(-10) null null p2r(-10));
    @include size(p2r(65));

    display: block;
    content: "";
    background-color: transparent;
    border-radius: 50%;
    border: p2r(10) solid tint($loaderColor, 70%);
    border-top-color: $loaderColor;
    animation: animatedSpin ($trans-speed * 1.2) linear infinite;

  }

}