.c-notification {

  @include position(fixed, 0 0 0 0);

  z-index: 9999;
  background-color: rgba(black, 0.3);
  opacity: 0;
  transform: translate3d(0,0,0);
  transition: opacity $trans-speed $trans-ease;

  .has-notification & {

    opacity: 1;

  }

  &__dialog {

    @extend %text-center;
    @include position(fixed, 50% null null 50%);
    @include padding(p2r(10) p2r(30));

    width: 100%;
    width: calc(100% - 40px);
    max-width: p2r(400);
    height: auto;
    border-radius: $border-radius;
    box-shadow: 0 2px 0 rgba(black, 0.1);
    background-color: white;
    transform: scale(0) translate3d(-50%, -50%, 0);
    transform-origin: top left;
    transition: transform $trans-speed $trans-delay $easeOutBack;

    .has-notification & {

      transform: scale(1) translate3d(-50%, -50%, 0);

    }

  }

  &__emoji {

    @include margin(null null p2r(10) null);
    @include font-size(30);
    @include position(relative, p2r(3) null null null);

    background-color: transparent;

  }

  &__heading {

    @include margin(0);

  }

  &__message {

    @include margin(0 null null null);

  }

}
