.c-reference {

  @include margin(0 auto);
  @include size(100%);

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  &__quote {

    @include margin(0 20px);

    max-width: $max-width - 200px;

    @include grid-media($grid-small) {

      @include margin(0 120px);

    }

    @include grid-media($grid-large) {

      max-width: $max-width - 40px;

    }

    &:before,
    &:after {

      content: "";

    }

  }

  &__heading {

    @include margin(0);

    .is-theme-red & {

      color: white;

    }

    @include grid-media($grid-x-small) {

      font-size: 4.5vw;

    }

    @include grid-media($grid-big) {

      font-size: 4vw;

    }

    @include grid-media($grid-large) {

      font-size: 60px;

    }

  }

  &__credit {

    @include margin(null null 0 null);
  
    .is-theme-red & {

      color: white;

    }

  }

  &__name {

    font-weight: 600;

  }

}
