.c-section {

  $root: &;

  @include position(relative, 0);
  @include grid-container;

  min-height: 100vh;
  overflow: hidden;

  @each $color, $value in $brand {
    
    &.is-theme-#{$color} {
      
      background-color: $value;

      @if $color != 'grey-light' {

        a {
          color: white;
        }

      }

    }

  }

}