.c-skills {

  $root: &;

  @include grid-container;
  @include padding(0);
  @include margin(0 auto p2r(30) auto);

  max-width: $max-width;

  @include grid-media($grid-small) {

    @include margin(0 null p2r(70) null);

  }

  &__item {

    @include grid-column(12);
    @include padding(30px null null null);
    @include margin(null null 30px null);
    @include position(relative, null);

    @include grid-media($grid-small) {

      @include grid-column(8);
      @include grid-push(2);

    }

    @include grid-media($grid-big) {

      @include grid-column(4);
      @include padding(null 20px null null);

    }

    @each $color, $value in $brand {
      &--#{$color}:before {
        background-color: $value;
      }
    }

    &:before {

      @include size(50px, 4px);
      @include position(absolute, 0 null null 0);

      content: "";
      display: block;

    }

  }

  &__heading {

    @include margin(0);

  }

  &__caption {

    @include margin(0 null null null);

  }

  &__summary {

    @include font-size(16);

  }

}
