.c-timeline {

  $root: &;

  @extend %clearfix;
  @include padding(60px 0 30px 0);
  @include margin(0 null p2r(60) p2r(20));
  @include position(relative, null);

  z-index: map-get($depth, timeline);
  clear: both;
  width: calc(100% - #{p2r(30)});
  list-style: none;

  @include grid-media($grid-small) {

    @include grid-column(10);
    @include grid-push(1);
    @include margin(null null p2r(100) null);

  }

  @include grid-media($grid-medium) {

    @include grid-column(8);
    @include grid-push(2);
    @include margin(p2r(50) null p2r(170) null);

  }

  @include grid-media($grid-big) {

    @include grid-column(8);
    @include grid-shift(2);

  }
  
  &:before,
  &:after { 

    @extend %text-left;
    @extend %text-sub-style;
    @include font-size(20);
    @include position(absolute, null null null 55px);

    z-index: 10;
    content: "";
    display: block;
    line-height: normal;
    width: auto; 
    color: #000;
    background: map-get($brand, 'grey-light');
    
    @include grid-media($grid-big) {

      left: 0;
      width: 100%;
      text-align: center;
        
    }
  
  }
  
  &:before { 

    content: "2017"; 
    top: -2px;

    @include grid-media($grid-big) {

      top: -50px;

    }

  }
  
  &:after { 

    content: "2003";
    top: calc(100% - 21px);

    @include grid-media($grid-big) {

      top: calc(100% + 25px);

    }

  }
  
  &__line {

    @include margin(0 0 0 -2px);
    @include padding(0);
    @include position(absolute, 0 null null 9px);

    z-index: 5;
    width: 4px;
    height: 100%;
    background: map-get($brand, 'red');
    
    @include grid-media($grid-big) {
  
      left: 50%;
  
    }

    &:before,
    &:after { 

      @include size(18px);
      @include position(absolute, null);

      z-index: 5;
      content: "";
      border: 4px solid map-get($brand, 'red');
      border-radius: 50%;
      background: map-get($brand, 'red');

    }

    &:before {

      top: 0;
      left: -7px;

    }

    &:after {

      top: calc(100% - 18px);
      left: -7px;

    }
  
  }
  
  &__event {

    @include position(relative, null);
    @include padding(null null 30px 36px);

    z-index: 10;
    clear: both;
    width: 100%;
    transition: transform 0.2s ease-out, opacity 0.3s ease-out;

    @include grid-media($grid-big) {

      @include padding(null null null 0);

      width: 50%;

    }

    &:nth-child(odd) {

      @include grid-media($grid-big) {

        @include padding(null 30px null null);

      }

      #{$root}__point {

        @include grid-media($grid-big) {

          left: auto;
          right: -9px;

        }

      }

      #{$root}__bubble {

        @include grid-media($grid-big) {

          transform: translate3d(-20%, 0, 0);
 
        }

        &.is-inview {

          @include grid-media($grid-big) {

            opacity: 1;
            transform: translate3d(0, 0, 0);

          }

        }

        &:before {

          @include grid-media($grid-big) {

            left: auto !important;
            right: -20px !important;
            border-right-color: transparent;
            border-left-color: white;

          }

        }

      }

    }

    &:nth-child(even) {

      @include grid-media($grid-big) {

        @include padding(null null null 30px);

        float: right;

      }

      #{$root}__point {

        @include grid-media($grid-big) {

          left: -9px;

        }

      }

    }

  }

  &__bubble {
  
    @include padding(20px 20px);
    
    position: relative;
    background-color: #fff;
    border-radius: $border-radius;
    filter: drop-shadow(0 2px 0 rgba(black, 0.1));

    @include grid-media($grid-big) {

      opacity: 0;
      transform: translate3d(20%, 0, 0);
      transition:
        opacity $trans-speed $trans-ease,
        transform $trans-speed $trans-ease;
      
    }

    &.is-inview {

      @include grid-media($grid-big) {

        opacity: 1;
        transform: translate3d(0, 0, 0);

      }

    }

    &:before { 
    
      @include size(0);
      
      content: "";
      position: absolute;
      pointer-events: none;
      border: solid transparent;
      border-width: 10px;
      border-color: rgba(255, 255, 255, 0);
      border-right-color: #fff;
      left: -20px;
      top: 24px;

    }
  
  }

  &__point {

    @include size(18px);
    @include position(absolute, 25px null null 0);

    z-index: 5;
    border: 4px solid map-get($brand, 'red');
    border-radius: 50%;
    background: map-get($brand, 'grey-light');
  
  }

  &__heading {

    @include margin(0);
    @include font-size(20);

  }

  &__date {

    @include margin(0 null null null);

  }

  &__summary {

    @include font-size(16);
    @include margin(null null 0 null)

  }

}