section(class='c-section is-theme-purple' id='availability')

  +pattern('pattern-availability')

  header(class='c-overview c-overview--hero')
    h1(class='c-overview__heading') Availability
    p(class='c-overview__summary') I'm available to work either remotely or onsite if the project is based in London. As my availability can fluctuate from day to day, the best way for us to work something out is to contact me directly and we can take it from there.
    p(class='c-overview__summary'): a(class='c-button c-overview__button' href='#contact' data-scroll) Get in touch
