section(class='c-section is-theme-grey-light' id='contact')

  header(class='c-overview')
    h2(class='c-overview__heading') Get in touch #[span.t-sub currently available]
    p(class='c-overview__summary') If you'd like to discuss a project or simply have a query, feel free to tweet me #[+handle('michaelpumo', 'https://twitter.com/michaelpumo', '_blank')] or send me a direct message using the contact form.

  include ../components/form.pug
