section(class='c-section is-theme-navy' id='about')

  +pattern('pattern-cover')

  header(class='c-overview c-overview--hero')
    h1(class='c-overview__heading') Frontend web development with #[abbr(class='t-mark--red' title='Hyper Text Markup Language') HTML], #[abbr(class='t-mark--green' title='Cascading Style Sheets') CSS], #[mark(class='t-mark--yellow') JavaScript] and #[mark(class='t-mark--purple') APIs].
    p(class='c-overview__summary') My name is Michael Pumo. I'm a freelance frontend web developer based in London, UK and I'd like to help you build your next project.
    p(class='c-overview__summary'): a(class='c-button c-overview__button' href='#skillset' data-scroll) Find out more
