section(class='c-section is-theme-grey-light' id='projects')

  header(class='c-overview')
    h2(class='c-overview__heading') Selected projects #[span.t-sub show, don't tell]
    p(class='c-overview__summary') Websites come and go over time and screenshots can only tell you so much. I prefer to link to active projects that live on the web today.

  include ../components/work.pug