section(class='c-section is-theme-blue' id='resume')

  +pattern('pattern-resume')

  header(class='c-overview c-overview--hero')
    h1(class='c-overview__heading') Resum&eacute; Download
    p(class='c-overview__summary') If you're a digital or design agency, recruiter or just interested in a hard copy of my resum&eacute; as a PDF, you can download it by clicking the button below.
    p(class='c-overview__summary'): a(class='c-button c-overview__button' href='${require(`../files/michael-pumo.pdf`)}') Download PDF
