section(class='c-section is-theme-grey-light' id='skillset')

  header(class='c-overview')
    h2(class='c-overview__heading') Skills &amp; Expertise #[span.t-sub just keep swimming]
    p(class='c-overview__summary') I make a point to explore and learn something new with every project I work on. It keeps things interesting and helps to push what's possible for my clients.

  include ../components/skills.pug
