section(class='c-section is-theme-grey-light' id='timeline')

  header(class='c-overview')
    h2(class='c-overview__heading') Professional timeline #[span.t-sub startups to agencies]
    p(class='c-overview__summary') I have been fortunate enough to work with some of London’s most brilliant creative agencies and proud to have helped them deliver their vision.

  include ../components/timeline.pug
