@mixin media($size) {
  @media only screen and (#{map-get($breakpoints, $size)}) {
    @content;
  }
}

@mixin type-size($level: "4") {
  @each $item, $value in $type {
    @if ($level == $item) {
      font-size: $value;
    }
  }
}

@mixin type-style($level: "4") {
  @if ($level == "1") {
    @include type-size($level);

    line-height: 1.2;
  }

  @if ($level == "2") {
    @include type-size($level);

    line-height: 1.4;
  }

  @if ($level == "3") {
    @include type-size($level);

    line-height: 1.4;
  }

  @if ($level == "4") {
    @include type-size($level);

    line-height: 1.4;
  }

  @if ($level == "5") {
    @include type-size($level);
  }

  @if ($level == "6") {
    @include type-size($level);
  }
}

@mixin custom-scrollbar() {
  &::-webkit-scrollbar-track {
    background-color: color('dark');
  }

  &::-webkit-scrollbar {
    width: 3px;
    background-color: color('dark');
  }

  &::-webkit-scrollbar-thumb {
    background-color: color('light');
  }
}

@mixin error() {
  @include type-style("6");

  margin-top: (spacing("sm") / 2);
  color: color("red");
}

@mixin label() {
  @include type-style("5");

  font-weight: 500;
  padding: 0;
  margin: 0 0 (spacing("sm") / 2) 0;
  color: color("dark");
  user-select: none;

  @include media("sm") {
    @include type-style("4");
  }
}

@mixin input() {
  width: 100%;
  min-height: var(--field-size);
  padding: (spacing("sm") / 2);
  margin: 0;
  border: 2px solid rgba(color("light"), 0);
  background-color: lighten(color("grey"), 2.5%);
  border-radius: 5px;
  color: inherit;
  transition:
    color $trans-speed $trans-ease,
    border-color $trans-speed $trans-ease,
    background-color $trans-speed $trans-ease;

  &:focus {
    background-color: color("light");
    border-color: color("blue");
    color: color("dark");
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    filter: grayscale(1);
    user-select: none;
  }
}

@mixin shadow-box() {
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(color("dark"), 0.15);
}

@mixin ie11($bp: null) {
  @if $bp {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) and (#{map-get($breakpoints, $bp)}) {
      @content;
    }
  }

  @else {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      @content;
    }
  }
}
