:root {
  --app-height: 100vh;
  --spacing-unit: #{spacing("sm")};
  --color-theme: #{color("red")};
  --color-general: #{color("dark")};
}

@include media("sm") {
  :root {
    --spacing-unit: #{spacing("md")};
  }
}

@include media("xl") {
  :root {
    --spacing-unit: #{spacing("lg")};
  }
}
