
// Seetings for the Bourbon Neat grid.
$neat-grid: (
  columns: 12,
  gutter: 40px,
  color: hotpink
);

$grid-x-small: (
  columns: 12,
  gutter: 20px,
  media: 480px
);

$grid-small: (
  columns: 12,
  gutter: 20px,
  media: 768px
);

$grid-medium: (
  columns: 12,
  gutter: 20px,
  media: 992px
);

$grid-big: (
  columns: 12,
  gutter: 20px,
  media: 1200px
);

$grid-large: (
  columns: 12,
  gutter: 20px,
  media: 1400px
);

$grid-x-large: (
  columns: 12,
  gutter: 20px,
  media: 1600px
);
