section(id='section-cover', class='section feature')
    
    div(class='overlay')
        
        article
            
            header
            
                div(class='mark'): i(class='icon icon-mark') Michael Pumo

                h1 Obsessively thorough mobile responsive web development, with <abbr title="Hyper Text Markup Language 5">HTML5</abbr>, <abbr title="Cascading Style Sheets">CSS3</abbr>, jQuery and WordPress.
        
        div(class='button'): button(type='button', id='onward') Read More
