section#section-cover.section.feature
    
    div.overlay
        
        article
            
            header
            
                div.mark: i.icon.icon-mark Michael Pumo

                h1 Obsessively thorough responsive web development, with <abbr title="Hyper Text Markup Language 5">HTML5</abbr>, <abbr title="Cascading Style Sheets">CSS3</abbr>, jQuery and WordPress.
        
        div.button: button(type='button', id='onward') Read More
