footer#section-contact.section.section--dark(role='contentinfo')
    
    div.footer
        
        div.about
            img(src='./dist/images/michael-pumo.jpg', width='80', height='80', alt='Michael Pumo')
            h4 My name is Michael Pumo. I'm a freelance frontend web developer, based in London UK.
            p If you'd like to discuss a project or contract opportunities, please feel free to contact me.
            p e. 
                a(href='mailto:hello@michaelpumo.com') hello@michaelpumo.com
                br
                | m. 0788 525 6968
        
        div.info
        
            ul
                li: a(href='https://twitter.com/michaelpumo', target='_blank')
                    i.icon.icon-social-twitter Twitter
                li: a(href='http://linkedin.com/in/michaelpumo', target='_blank')
                    i.icon.icon-social-linkedin LinkedIn
                li: a(href='https://github.com/michaelpumo', target='_blank')
                    i.icon.icon-social-github GitHub
            
            p
                small &copy; #{new Date().getFullYear()} Popwave Ltd. All rights reserved.
                    br
                    | Company Number: 8737938
