meta(charset='utf-8')
meta(name='keywords', content='html5, html, css3, css, responsive, mobile, web, website, developer, frontend, wordpress, SEO, London, UK')
meta(name='description', content='Michael Pumo is a freelance frontend web developer, specialising in mobile responsive HTML5, CSS3 & jQuery websites with WordPress.')
meta(name='author', content='Michael Pumo')
meta(name='dcterms.rightsHolder', content='Michael Pumo')
meta(name='p:domain_verify', content='73f29dce66e8485e859d4156e7e5500b')
meta(name='twitter:card', content='summary')
meta(name='twitter:site', content='@michaelpumo')
meta(name='twitter:title', content='Michael Pumo - Freelance Frontend Web Developer')
meta(name='twitter:description', content='Obsessively thorough mobile responsive web development, with HTML5, CSS3, jQuery and WordPress.')
meta(name='twitter:creator', content='@michaelpumo')
meta(name='twitter:image:src', content='http://michaelpumo.com/dist/images/logo-mark.png')
meta(property='og:site_name', content='Michael Pumo - Freelance Frontend Web Developer')
meta(property='og:description', content='Obsessively thorough mobile responsive web development, with HTML5, CSS3, jQuery and WordPress.')
meta(property='og:url', content='http://michaelpumo.com/')
meta(property='og:title', content='Michael Pumo')
meta(property='og:type', content='website')
meta(property='og:image', content='http://michaelpumo.com/dist/images/logo-mark.png')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
meta(name='apple-mobile-web-app-status-bar-style', content='black')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='msapplication-TileColor', content='#C32F34')
meta(name='msapplication-TileImage', content='http://michaelpumo.com/dist/images/logo-mark.png')

link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:300,400,700')
link(rel='stylesheet', href='./dist/css/app.css')

link(rel='shortcut icon', href='http://michaelpumo.com/dist/images/favicon.ico')
link(rel='apple-touch-icon', href='http://michaelpumo.com/dist/images/logo-mark.png')
link(rel='apple-touch-icon', sizes='72x72', href='http://michaelpumo.com/dist/images/logo-mark.png')
link(rel='apple-touch-icon', sizes='114x114', href='http://michaelpumo.com/dist/images/logo-mark.png')
link(rel='apple-touch-icon', sizes='144x144', href='http://michaelpumo.com/dist/images/logo-mark.png')
link(rel='apple-touch-startup-image', href='http://michaelpumo.com/dist/images/logo-mark.png')

title Michael Pumo - Freelance frontend web developer, specialising in semantic and accessible HTML5, CSS3 &amp; jQuery websites with WordPress.
