nav#nav(role='navigation')

    #nav-button
        i.icon.icon-menu menu

    ul

        +navItem(
            'skills',
            'Expertise'
        )

        +navItem(
            'work',
            'Projects'
        )

        +navItem(
            'timeline',
            'Timeline'
        )

        +navItem(
            'resume',
            'Resum&eacute;'
        )

        +navItem(
            'contact',
            'Contact'
        )
