section#section-process.section.grey

    article
    
        header
            h2 Development Process
            p The web development process can be broken down into a timescale consisting of three general areas.
        
        div.statistics
        
            +process(
                '25%',
                '25',
                'Planning',
                'Meetings, specifications and research.'
            )

            +process(
                '25%',
                '65',
                'Production',
                'Coding your web application.'
            )

            +process(
                '10%',
                '10',
                'Delivery',
                'Testing and deploying your website.'
            )
