section(id='section-quotes', class='section quote')

    div(class='overlay')

        article

            +quote(
                'Working with Michael has been a total pleasure; he is quick to get on to the tasks at hand and always showed a positive attitude towards new and challenging problems. We\'ll definitely be working with him for the foreseeable future',
                'Paul Ellerker',
                'Managing Director',
                'Parallel',
                'http://studioparallel.co.uk'
            )
