section#section-resume.section.section__resume.section--white

    article
    
        header
            h2 Resum&eacute; Download
            p For agencies interested in a hard copy of my resum&eacute;.
        
        p.download
            a.button.button--red(href='./dist/files/michael-pumo-resume.pdf', download='michael-pumo-resume.pdf') Download PDF Resum&eacute;
    
        
