section#section-skills.section.section--grey

    article
    
        header

            h2 Skills &amp; expertise
            p I've been developing my skill&ndash;set to focus on what’s most suited to getting the job done quickly and effectively.
        
        div.items

            +skill(
                'html5',
                'Frontend development',
                'Whether you need a new website, updates to an existing application or a bespoke email marketing shot; if it involves the web, I can certainly help.',
                'I write code that conforms to the <abbr title="World Wide Web Consortium">W3C</abbr>\'s web standards and semantic best&ndash;practices. I use technologies like <abbr title="Hyper Text Markup Language 5">HTML5</abbr> / Jade, <abbr title="Cascading Style Sheets">CSS3</abbr> (<abbr title="Sassy CSS">SCSS</abbr>) and jQuery, to transform static artwork into pixel-prefect, interactive and fully functional interfaces; exactly the way your designers intend them to be.'
            )

            +skill(
                'wordpress',
                'WordPress development',
                'I can help you leverage one of the world\'s most popular and powerful content management systems; tailoring it specifically to your needs.',
                'WordPress has become the simplest and quickest way for me to develop new, fully content managed websites. Sell your products online or set up a blog, either way, you\'ll have the ability to manage your content just the way you want to.'
            )

            +skill(
                'mobile',
                'Responsive web development',
                'The web is no longer just in the hands of the desktop computer. Today we have smartphones, tablets and in the near future; smart watches.',
                'How will we ensure your website looks great on multiple devices; including those that haven\'t even been invented yet? I build using a responsive grid system. I have experience with frontend frameworks such as <a href="http://foundation.zurb.com/" target="_blank">Foundation</a>, <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> and <a href="http://neat.bourbon.io/" target="_blank">Bourbon Neat</a> to ensure that layouts are now quicker, smarter, standardised and more future-proof.'
            )
