section#section-timeline.section.grey

    article
    
        header
            h2 Professional Timeline
            p I have over 7+ years of professional industry and agency experience, working with a range of clients from start ups to larger corporations.
        
        ul.timeline

            +event(
                'mobile',
                'Web Developer',
                'Contractor',
                '2013-12-01',
                'December 2013 &ndash; Present',
                'Contracting for agencies around London, including <a href="http://www.raggededge.com/" target="_blank">Ragged Edge</a>, <a href="http://www.moneysavingexpert.com/" target="_blank">Money Saving Expert</a>, <a href="http://www.native.com/" target="_blank">Native</a>, <a href="http://www.karmarama.com/" target="_blank">Karmarama</a>, <a href="http://www.somoglobal.com/" target="_blank">Somo</a>, <a href="http://spark44.com/" target="_blank">Spark44</a>, <a href="http://www.egelnickandwebb.com/" target="_blank">Egelnick and Webb</a> and <a href="http://studioparallel.co.uk/" target="_blank">Parallel</a>.'
            )

            +event(
                'parallel',
                'Head of Digital',
                'Parallel',
                '2013-10-01',
                'October 2013 &ndash; December 2013',
                'This short term contract for Parallel, required me to manage legacy projects, as well as build a range of new digital offerings; from holding pages, to responsive content managed websites and <abbr title="Hyper Text Markup Language 5">HTML5</abbr> emailers.'
            )

            +event(
                'standards',
                'Head of Digital',
                'Branch',
                '2011-07-01',
                'July 2011 &ndash; October 2013',
                'I joined Branch as their first in house web developer. I worked closely with the design team to explore new avenues into the web and exploit this growing arm of the business.'
            )

            +event(
                'design',
                'Web Developer',
                'Freelance',
                '2009-08-01',
                'August 2009 &ndash; June 2011',
                'After a few short-term contracts, I decided to explore the world of freelance. I had a mixture of agency work and a set of clients sourced by myself.'
            )

            +event(
                'pencil',
                'Web Designer &amp; Developer',
                'Structure',
                '2009-01-01',
                'January 2009 &ndash; July 2009',
                'Structure were mainly a print-based design studio prior to my arrival. Over this short term contract (as their first in house developer) I helped push and transition their digital services to be more responsive and robust. Development time was vastly improved over what could be delivered via outsourcing to overseas developers.'
            )

            +event(
                'magnifier',
                'Web Developer / SEO Consultant',
                'Blue Claw',
                '2008-06-01',
                'June 2008 &ndash; December 2008',
                'A short term contract role at Blue Claw. I was required to enact and develop <abbr title="Search Engine Optimisation">SEO</abbr> strategies on behalf of their clients, via on-site <abbr title="Hyper Text Markup Language 5">HTML5</abbr> and <abbr title="Cascading Style Sheets">CSS3</abbr> changes; improving search engine visibility in addition to <abbr title="Pay Per Click">PPC</abbr> and link building.'
            )

            +event(
                'brackets',
                'Junior Web Designer',
                'Chapter Eight',
                '2006-03-01',
                'March 2006 &ndash; June 2008',
                'I started my web career at Chapter Eight; learning the craft of web design / <abbr title="User Experience">UX</abbr>, <abbr title="Hyper Text Markup Language 5">HTML5</abbr>, <abbr title="Cascading Style Sheets">CSS3</abbr> and JavaScript. As well as exploring the technical challenges of the frontend, we also designed the websites we built and lead the project management too; dealing with clients directly both over the phone and in regular project meetings.'
            )

            +event(
                'hat',
                'Student',
                'University of Leeds',
                '2003-09-01',
                'September 2003 &ndash; June 2006',
                'I graduated with upper second class honors (BA) in Communications &amp; New Media. The course was multidisciplinary in nature; combining both academic and hands-on study of the digital and print industries.'
            )

            li.timeline-line

                

