section#section-work.section.section--white

    article

        header

            h2 Selected projects
            p I've had the pleasure of working with some of London’s most brilliant creative and digital agencies.

        .items

            +work(
                'http://www.notonsunday.com/',
                'notonsunday.gif',
                'NotOnSunday',
                'WordPress, Mobile responsive'
            )

            +work(
                'http://www.native.com/',
                'native.jpg',
                'Native',
                'WordPress, Mobile responsive'
            )

            +work(
                'http://www.banksidecommercial.com/',
                'bankside.jpg',
                'Bankside',
                'WordPress, Mobile responsive'
            )

            +work(
                'http://www.debeers.com/',
                'debeers.jpg',
                'De Beers',
                'WordPress & Magento, Mobile responsive'
            )

            +work(
                'http://www.billy.fm/',
                'billy.jpg',
                'Billy Lumby',
                'WordPress & BEM CSS, Mobile responsive'
            )

            +work(
                'http://www.amaramining.com/',
                'amara.jpg',
                'Amara Mining PLC',
                'WordPress, Mobile responsive, Content-heavy'
            )

            +work(
                'http://www.adelphibuilding.com/',
                'adelphi.jpg',
                'Adelphi',
                'WordPress, Mobile responsive'
            )

            +work(
                'http://www.bretttaylorgolf.com/',
                'brett-taylor-golf.jpg',
                'Brett Taylor Golf',
                'WordPress, Mobile responsive'
            )

            +work(
                'http://www.smithstonewalters.com/',
                'smith-stone-walters.jpg',
                'Smith Stone Walters',
                'WordPress, Mobile responsive'
            )

            +work(
                'http://www.thisistrev.com/',
                'wayne-trevor-townsend.jpg',
                'Wayne Trevor Townsend',
                'WordPress, Mobile responsive'
            )

            +work(
                'http://www.tokheim.com/',
                'tokheim.jpg',
                'Tokheim',
                'WordPress'
            )

            +work(
                'http://www.beggarsrun.com/',
                'beggars-run.jpg',
                'Beggars Run',
                'WordPress'
            )

            +work(
                'http://www.gigwise.com/',
                'gigwise.jpg',
                'Gigwise',
                'Frontend for bespoke CMS'
            )

            +work(
                'http://www.onsidesportsagency.com/',
                'onside.jpg',
                'Onside',
                'WordPress'
            )

            +work(
                'http://www.thelondonbranch.com/',
                'branch.jpg',
                'Branch',
                'WordPress'
            )

            +work(
                'http://www.garcialau.com/',
                'garcialau.jpg',
                'Garcia Lau',
                'WordPress, Mobile responsive'
            )

            +work(
                'http://www.thegraphicaltree.com/',
                'the-graphical-tree.jpg',
                'The Graphical Tree',
                'WordPress'
            )

            +work(
                'http://www.meetthejoneses.co.uk/',
                'meet-the-joneses.jpg',
                'Meet the Joneses',
                'WordPress'
            )
