ul(class='c-navigation__list')
  +navItem('about', 'About')
  +navItem('skillset', 'Skillset')
  +navItem('projects', 'Projects')
  +navItem('availability', 'Availability')
  +navItem('timeline', 'Timeline')
  +navItem('resume', 'Resum&eacute;')
  +navItem('contact', 'Contact')