.c-reference
  +quote(
    'Michael is an experienced web developer who has consistently demonstrated a smooth design to build process.',
    'Paul Fox',
    'Creative Director',
    'Parallel',
    'https://studioparallel.co.uk'
  )