.c-reference
  +quote(
    'Michael is an exceptional web developer who has consistently demonstrated a great eye for the details of design.',
    'Paul Fox',
    'Creative Director',
    'Parallel',
    'http://studioparallel.co.uk'
  )