.c-skills
  +skill(
    'Frontend',
    'Modern, semantic and lightweight',
    'The pace of frontend web development is continuing to increase with the advent of new standards, tools and ideas. I work closely with designers to help them translate their vision through this new technology. We can now push boundries yet at the same time strive towards a product that will last long into the future.',
    'red'
  )
  +skill(
    'WordPress',
    'Tailored to your needs',
    'A majority of websites I build today are content managed as standard on the WordPress platform. WordPress is now a mature and easy to use, yet powerful content management system. It provides my client\'s with full editorial control in a way that makes sense, using custom content types and fields that stay relevant.',
    'yellow'
  )
  +skill(
    'Mobile first',
    'Smartphones, tablets & desktops',
    'Despite the rise of handheld devices, many websites today still lack adequate support for mobile browsing. I aim to build-in this support from the very beginning. An effective grid system and progressive enhancement can ensure a great experience on new and older web browsers alike well into the future.',
    'blue'
  )
