.c-skills
  +skill(
    'Frontend development',
    'Modern, semantic and lightweight',
    'I like to work closely with designers to faithfully translate their designs right down to the last pixel. On a daily basis you\'ll find me using HTML, SCSS / BEM, JavaScript / ES2016 and Git with VS Code, Neat, WordPress and Vue / Nuxt, in order to bring creative designs to life.',
    'red'
  )
  +skill(
    'WordPress',
    'Tailored to your needs',
    'A majority of websites I build today are content managed as standard. I find that the WordPress platform is often a great choice because it\'s mature and stable with a built-in REST API. It provides my client\'s with full editorial control in a way that\'s intuitive and friendly.',
    'yellow'
  )
  +skill(
    'Mobile first',
    'Smartphones, tablets & desktops',
    'Many websites today still lack adequate support for mobile browsing. I aim to build in this support from the very beginning. An effective grid system with progressive enhancement can ensure a great experience on new and older web browsers alike, well into the future.',
    'blue'
  )
