ul(class='c-social')
  li(class='c-social__item'): a(href='https://twitter.com/michaelpumo' target='_blank' rel='noopener') Twitter
  li(class='c-social__item'): a(href='https://github.com/michaelpumo' target='_blank' rel='noopener') GitHub
  li(class='c-social__item'): a(href='https://www.linkedin.com/in/michaelpumo/' target='_blank' rel='noopener') LinkedIn
