ul(class='c-timeline')
  +event(
    'Frontend contractor',
    '2013-12-01',
    'Dec 2013 &ndash; Present',
    'Contracting for agencies around London, including <a href="http://thisworks.co" target="_blank" rel="noopener">This Works</a>, <a href="https://www.foolproof.co.uk" target="_blank" rel="noopener">Foolproof</a>, <a href="https://adaptivelab.com" target="_blank" rel="noopener">Adaptive Lab</a>, <a href="https://someoneinlondon.com" target="_blank" rel="noopener">SomeOne</a>, <a href="http://usvs.co" target="_blank" rel="noopener">Us Versus</a>, <a href="https://studiorotate.com" target="_blank" rel="noopener">Rotate</a>, <a href="https://www.gtb.com/" target="_blank" rel="noopener">GTB</a>, <a href="https://raggededge.com" target="_blank" rel="noopener">Ragged Edge</a>, <a href="https://www.moneysavingexpert.com" target="_blank" rel="noopener">Money Saving Expert</a>, <a href="https://native.com" target="_blank" rel="noopener">Native</a>, <a href="https://www.karmarama.com" target="_blank" rel="noopener">Karmarama</a>, <a href="https://www.somoglobal.com" target="_blank" rel="noopener">Somo</a>, <a href="https://spark44.com" target="_blank" rel="noopener">Spark44</a>, <a href="https://bondandcoyne.co.uk" target="_blank" rel="noopener">Bond &amp; Coyne</a> and <a href="https://studioparallel.co.uk" target="_blank" rel="noopener">Parallel</a>.'
  )
  +event(
    'Parallel',
    '2013-10-01',
    'Oct 2013 &ndash; Dec 2013',
    'This short term contract for Parallel, required me to manage legacy projects, as well as build a range of new digital offerings; from holding pages, to responsive content managed websites with WordPress and <abbr title="Hyper Text Markup Language 5">HTML5</abbr> email campaigns.'
  )
  +event(
    'Branch',
    '2011-07-01',
    'Jul 2011 &ndash; Oct 2013',
    'I joined Branch as their first in house web developer. I worked closely with the design team to explore new avenues into digital and to maintain this new area of business.'
  )
  +event(
    'Freelance',
    '2009-08-01',
    'Aug 2009 &ndash; Jun 2011',
    'After a few short-term contracts, I decided to explore more freelance work. I had a mixture of agency work and a set of clients sourced by myself working from home.'
  )
  +event(
    'Structure',
    '2009-01-01',
    'Jan 2009 &ndash; Jul 2009',
    'Structure were mainly a print-based design studio prior to my arrival. Over this short term contract (as their first in-house developer) I helped push and transition them into a more digital space, consulting on the design process and working to coordinate their overseas developers.'
  )
  +event(
    'Blue Claw',
    '2008-06-01',
    'Jun 2008 &ndash; Dec 2008',
    'A short term contract role at Blue Claw. I was required to enact and develop <abbr title="Search Engine Optimisation">SEO</abbr> techniques on behalf of their clients, via on-site <abbr title="Hyper Text Markup Language 5">HTML5</abbr> and <abbr title="Cascading Style Sheets">CSS3</abbr> improvements. This helped increase search engine visibility to work in accordance with their ongoing <abbr title="Pay Per Click">PPC</abbr> and link building strategies.'
  )
  +event(
    'Chapter Eight',
    '2006-03-01',
    'Mar 2006 &ndash; Jun 2008',
    'I started my career at Chapter Eight as a junior; learning the craft of web design, <abbr title="User Experience">UX</abbr>, <abbr title="Hyper Text Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr> and JavaScript. The role was frequently client facing with daily catchups and CMS training sessions.'
  )
  +event(
    'University of Leeds',
    '2003-09-01',
    'Sep 2003 &ndash; Jun 2006',
    'I graduated with upper second class honors (BA) in Communications &amp; New Media. The course was multidisciplinary in nature; combining both academic and hands-on study of the digital and print industries.'
  )
  li(class='c-timeline__line')
