ul(class='c-work')
  +work(
    'https://dimt.co.uk',
    'dimt.jpg',
    'Dim t',
    'Authentic asian food',
    'red'
  )
  +work(
    'https://raggededge.com',
    'raggededge.jpg',
    'Ragged Edge',
    'Branding with substance',
    'yellow'
  )
  +work(
    'https://debeers.com',
    'debeers.jpg',
    'De Beers',
    'Home of Diamonds',
    'blue'
  )
  +work(
    'https://myshimmy.com',
    'shimmy.jpg',
    'Shimmy',
    'Revolutionary garment',
    'purple'
  )
  +work(
    'https://wildwoodrestaurants.co.uk',
    'wildwood.jpg',
    'Wildwood',
    'Pizza Pasta Grill',
    'orange'
  )
  +work(
    'https://native.com',
    'native.jpg',
    'Native',
    'User experience of tomorrow',
    'cyan'
  )
  +work(
    'https://applied.studio',
    'appliedstudio.jpg',
    'Applied Studio',
    'Architecture + Interiors',
    'slate'
  )
  +work(
    'https://futurecities.catapult.org.uk',
    'futurecities.jpg',
    'Future Cities Catapult',
    'Urban innovation',
    'green'
  )