ul(class='c-work')
  +work(
    'https://www.wearepay.uk',
    'newpso.jpg',
    'Pay.UK',
    'Leading Retail Payments Authority',
    'slate'
  )
  +work(
    'https://www.billiondollarboy.com',
    'billion-dollar-boy.jpg',
    'Billion Dollar Boy',
    'Influencer marketing agency',
    'blue'
  )
  +work(
    'https://dimt.co.uk',
    'dimt.jpg',
    'Dim t',
    'Authentic Asian food',
    'red'
  )
  +work(
    'https://raggededge.com',
    'raggededge.jpg',
    'Ragged Edge',
    'Branding with substance',
    'yellow'
  )
  +work(
    'https://futureskills.pearson.com/explore',
    'pearson.jpg',
    'Pearson',
    'The Future of Skills',
    'cyan'
  )
  +work(
    'https://www.debeers.com',
    'debeers.jpg',
    'De Beers',
    'Home of Diamonds',
    'blue'
  )
  +work(
    'https://myshimmy.com',
    'shimmy.jpg',
    'Shimmy',
    'Revolutionary garment',
    'purple'
  )
  +work(
    'https://wildwoodrestaurants.co.uk',
    'wildwood.jpg',
    'Wildwood',
    'Pizza Pasta Grill',
    'orange'
  )
  +work(
    'https://ronabuelo12.com',
    'ron-abuelo-12.jpg',
    'Ron Abuelo Panama',
    'Character is timeless',
    'red'
  )
  +work(
    'https://native.com',
    'native.jpg',
    'Native',
    'User experience of tomorrow',
    'cyan'
  )
  +work(
    'http://applied.studio',
    'appliedstudio.jpg',
    'Applied Studio',
    'Architecture + Interiors',
    'slate'
  )
  +work(
    'https://futurecities.catapult.org.uk',
    'futurecities.jpg',
    'Future Cities Catapult',
    'Urban innovation',
    'green'
  )
  +work(
    'https://sobolinaya.com',
    'sobolinaya.jpg',
    'Sobolinaya',
    'Superior Organic Vodka',
    'purple'
  )
  +work(
    'https://www.jaxcoco.com',
    'jaxcoco.jpg',
    'Jax Coco',
    'Go nuts in style',
    'red'
  )
  +work(
    'http://www.thisistrev.com',
    'trev.jpg',
    'Wayne Trevor Townsend',
    'Design portfolio',
    'cyan'
  )
  +work(
    'https://jasonbaileystudio.com',
    'jason-bailey.jpg',
    'Jason Bailey',
    'Photography',
    'blue'
  )
