ul(class='c-work')
  +work(
    'https://dimt.co.uk',
    'dimt.jpg',
    'Dim t',
    'Authentic Asian food',
    'red'
  )
  +work(
    'https://raggededge.com',
    'raggededge.jpg',
    'Ragged Edge',
    'Branding with substance',
    'yellow'
  )
  +work(
    'https://www.debeers.com',
    'debeers.jpg',
    'De Beers',
    'Home of Diamonds',
    'blue'
  )
  +work(
    'https://myshimmy.com',
    'shimmy.jpg',
    'Shimmy',
    'Revolutionary garment',
    'purple'
  )
  +work(
    'https://wildwoodrestaurants.co.uk',
    'wildwood.jpg',
    'Wildwood',
    'Pizza Pasta Grill',
    'orange'
  )
  +work(
    'http://native.com',
    'native.jpg',
    'Native',
    'User experience of tomorrow',
    'cyan'
  )
  +work(
    'http://applied.studio',
    'appliedstudio.jpg',
    'Applied Studio',
    'Architecture + Interiors',
    'slate'
  )
  +work(
    'https://futurecities.catapult.org.uk',
    'futurecities.jpg',
    'Future Cities Catapult',
    'Urban innovation',
    'green'
  )
  +work(
    'http://www.thisistrev.com',
    'trev.jpg',
    'Wayne Trevor Townsend',
    'Design portfolio',
    'cyan'
  )
  +work(
    'https://www.jaxcoco.com',
    'jaxcoco.jpg',
    'Jax Coco',
    'Go nuts in style',
    'red'
  )
  +work(
    'http://mrjasonbailey.com',
    'jason-bailey.jpg',
    'Jason Bailey',
    'Photography',
    'blue'
  )
