include ./helpers/mixins.pug

doctype html
html(class='is-loading' lang='en-GB')

  head
    include ./includes/head.pug

  body
    include ./includes/splash.pug
    include ./includes/navigation.pug

    main(role='main')
      include ./includes/cover.pug
      include ./includes/skills.pug
      include ./includes/reference.pug
      include ./includes/projects.pug
      include ./includes/availability.pug
      include ./includes/timeline.pug
      include ./includes/resume.pug
      include ./includes/contact.pug
      include ./includes/footer.pug

    include ./includes/scripts.pug
