@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-project-title {
    font-size: clamp(2rem, 10vw, 8rem);
  }

  /* Remove once in Tailwind natively.
  https://caniuse.com/css-text-wrap-balance */

  @responsive {
    .text-wrap {
      text-wrap: wrap;
    }

    .text-nowrap {
      text-wrap: nowrap;
    }

    .text-balance {
      text-wrap: balance;
    }
  }
}
