@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Remove once in Tailwind natively.
  https://caniuse.com/css-text-wrap-balance */
  .text-wrap {
    text-wrap: wrap;
  }

  .text-nowrap {
    text-wrap: nowrap;
  }

  .text-balance {
    text-wrap: balance;
  }
}
