include ./helpers/mixins.jade

doctype html

html.no-js(lang='en')
    
    head

        include ./includes/credits.jade
        include ./includes/head.jade

    body

        include ./includes/navigation.jade

        main#sections(role='main')

            include ./includes/cover.jade
            include ./includes/skills.jade
            include ./includes/work.jade
            include ./includes/timeline.jade
            include ./includes/quotes.jade
            include ./includes/resume.jade
            include ./includes/footer.jade
        
        include ./includes/scripts.jade
