::selection {

  background-color: rgba(map-get($brand, 'navy'), 1);
  color: map-get($brand, 'yellow');

}

html {

  box-sizing: border-box;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  line-height: 1.6;
  min-height: 100%;

}

body {

  color: map-get($brand, 'grey');

  .is-loading & {

    overflow: hidden;

  }

}

*,
*:before,
*:after {

  box-sizing: inherit;

}