* {

  @extend %font-sans;

}

a {

  text-decoration: none;
  color: map-get($brand, 'red');
  transition: all $trans-speed $trans-ease;

  &:hover,
  &:active,
  &:focus {

    animation-name: rainbowColor;
    animation-duration: ($trans-speed * 2);
    animation-iteration-count: infinite;

  }

  &:visited {

    opacity: 0.5;

  }

}

.t-sub {

  @extend %text-sub-style;

  display: block;

}

.t-mark {

  @each $name, $value in $brand {
    &--#{$name} {
      color: $value;
    }
  }

}

mark {

  background-color: transparent;

}

abbr,
abbr[title] {

  text-decoration: none;

}

q,
blockquote {

  &:before {

    content: open-quote;

  }

  &:after {
    
    content: no-close-quote;
  
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {

  @include margin(20px null);

  font-weight: 600;
  color: map-get($brand, 'navy');
  line-height: 1.3;

}

h1 {

  font-size: 30px;

  @include grid-media($grid-x-small) {

    font-size: 40px;

  }
  
  @include grid-media($grid-small) {

    font-size: 50px;

  }

  @include grid-media($grid-medium) {

    font-size: 60px;

  }

}

h2 {

  font-size: 28px;

  @include grid-media($grid-x-small) {

    font-size: 30px;

  }

  @include grid-media($grid-small) {

    font-size: 40px;

  }
  
}

h3 {

  font-size: 20px;
  
}

h4 {

  @extend %text-style;

  font-weight: 600;

}

p {

  @extend %text-style;

}
