.is-loading *,
.is-loading *:before,
.is-loading *:after {

  animation-play-state: paused;

}

$rainbow: (
  'red': map-get($brand, 'red'),
  'yellow': map-get($brand, 'yellow'),
  'purple': map-get($brand, 'purple'),
  'green': map-get($brand, 'green'),
  'cyan': map-get($brand, 'cyan'),
  'orange': map-get($brand, 'orange'),
  'blue': map-get($brand, 'blue')
);

@keyframes rainbowFill {
  $rainbowLength: length($rainbow) - 1;
  @each $color, $value in $rainbow {
    $i: index($rainbow, ($color $value)) - 1;
    #{ceil(percentage($i / ($rainbowLength + 1)))} {
      fill: $value;
    }
  }
  100% {
    fill: map-get($rainbow, 'red');
  }
}

@keyframes rainbowColor {
  $rainbowLength: length($rainbow) - 1;
  @each $color, $value in $rainbow {
    $i: index($rainbow, ($color $value)) - 1;
    #{ceil(percentage($i / ($rainbowLength + 1)))} {
      color: $value;
    }
  }
  100% {
    color: map-get($rainbow, 'red');
  }
}

@keyframes rainbowBurger {
  $rainbowLength: length($rainbow) - 1;
  @each $color, $value in $rainbow {
    $i: index($rainbow, ($color $value)) - 1;
    #{ceil(percentage($i / ($rainbowLength + 1)))} {
      background-color: $value;
    }
  }
  100% {
    background-color: map-get($rainbow, 'red');
  }
}

@keyframes animatedSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
