@font-face {
  font-family: 'Eina';
  src: url('../fonts/Eina-01-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Eina';
  font-weight: bold;
  src: url('../fonts/Eina-01-Bold.otf') format('opentype');
}
