// @font-face {
//   font-family: 'GT Walsheim';
//   src: url('../fonts/gt-walsheim-medium.woff2') format('woff2'),
//        url('../fonts/gt-walsheim-medium.woff') format('woff'),
//        url('../fonts/gt-walsheim-medium.otf') format('opentype');
// }

@font-face {
  font-family: 'GT Walsheim';
  src: url('../fonts/gt-walsheim-light.woff2') format('woff2'),
       url('../fonts/gt-walsheim-light.woff') format('woff'),
       url('../fonts/gt-walsheim-light.otf') format('opentype');
}

@font-face {
  font-family: 'GT Walsheim';
  font-weight: bold;
  src: url('../fonts/gt-walsheim-bold.woff2') format('woff2'),
       url('../fonts/gt-walsheim-bold.woff') format('woff'),
       url('../fonts/gt-walsheim-bold.otf') format('opentype');
}
